body {
    background-color: rgb(255, 255, 224);
}


h1 {
    color: #CC0000;
    text-align: center;
}


h2 {
    color: #CC0000;
    text-align: center;
}

.to {
   text-transform: uppercase; 
}

.calls {
    font-style: italic;
}

.speech {
    font-style: italic;
}